html, body{
	height: 100%;
	width: 100%;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	position: relative;
	background-image: url('../images/background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	font-family: Calibri, serif;
	font-weight: 300;
}

.wrapper{
	width: 920px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.player-0-panel, .player-1-panel{
	width: 50%;
	height: 580px;
	padding: 30px;
	float: left;
}

.player-stats{
	position: relative;
	text-align: center;
}

.player-stats > ul{
	list-style-type: none;
}

.player-stats > ul li{
	display: inline;
	padding: 0 5px;
}

.player-name{
	text-align: center;
	padding: 20px;
	position: relative;
}

.player-image{
	position: relative;
	padding: 15px;
	height: 70%;
	text-align: center;
}

.player-live{
	position: relative;
	text-align: center;
	padding: 5px;
	width: 20%;
	margin: 0 auto;
	background-color: brown;
}

.image-reponsive{
	width: auto;
	height: 100%;
}

.new-game, .end-game{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.btn-start{
	border: none;
	color: #FFFFFF;
	background-color: #4CAF50;
	display: inline-block;
	padding: 8px 16px;
	text-align: center;
	cursor: pointer;
}

.btn-end{
	border: none;
	color: #FFFFFF;
	background-color: #af3930;
	display: inline-block;
	padding: 8px 16px;
	text-align: center;
	cursor: pointer;
}

.attack{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	padding: 20px;
}

.active .player-name h3::after {
	content: "\2022";
	font-size: 40px;
	position: absolute;
	color: #EB4D4D;
	top: 6px;
}

.player-0-panel.active, .player-1-panel.active{
	background: #f7f7f7;
}

.results{
	transform: translate(0, -50%);
	top: 50%;
	left: 8%;
	height: 578px;
	width: 345px;
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
	padding: 10px;
	overflow: scroll;
}

.results > ul{
	list-style-type: none;
}

.results > ul li{
	display: inline;
	padding: 0 5px;
}

.attack .winner{
	background: #4CAF50;
	color: #fff;
	padding: 20px;
}

@media only screen and (max-width: 1300px) {
	.results{
		width: 300px;
	}

	.wrapper{
		width: 700px;
		left: 60%;
	}
}